
body{
  background-color: lightgray;
}
.form-container{
  margin-top: 40px;
  
}

.card{
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0  rgba(0,0,0,0.19);
}

.card-img-top{
  border-radius: 10%;
  padding: 2px;
}


.recipe_container{
  margin-top: 50px;
  margin-bottom: 30px;
  
}

.rank_card{
  margin-top: 20px;
  margin-bottom: 20px;
}

.rank{
  background-color:lightblue;
  font-weight: 500;
  color: red;
  padding: 10px;
}